@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}

.page-container {
  display: flex;
  flex-direction: row;
}